<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/real_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/real_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewKey"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PopularKeywordActivity"
            android:exported="false" />
        <activity
            android:name=".SearchViewActivity"
            android:exported="false" />
        <activity
            android:name=".LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ConsentActivity"
            android:exported="true" />
        <activity
            android:name=".EmailRegisterActivity1"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".EmailRegisterActivity2"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".PwRegisterActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
        </activity>
        <activity
            android:name=".PwFindActivity1"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".PwFindActivity2"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".NicknameActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".news1_activity"
            android:exported="true" /> <!-- <activity android:name=".news1_activity"/> -->
        <activity android:name=".news2_politics" />
        <activity android:name=".news2_economy" />
        <activity android:name=".news2_society" />
        <activity android:name=".news2_living" />
        <activity android:name=".news2_world" />
        <activity android:name=".news2_it" />
        <activity android:name=".news2_entertainment" />
        <activity android:name=".news2_opinion" />
        <activity android:name=".news2_sports" />
        <activity android:name=".news3_activity" />
        <activity android:name=".notification1" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".NewsActivity"
            android:exported="true" />
        <activity
            android:name=".MypageActivity"
            android:exported="true" />
        <activity
            android:name=".KeywordActivity"
            android:exported="true" />
        <activity
            android:name=".RecommendationActivity"
            android:exported="true" />
        <activity
            android:name=".LogoutActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".ViewHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ChooseTopicsActivity"
            android:exported="true" />
        <activity
            android:name=".ViewScrapActivity"
            android:exported="true" />
        <activity
            android:name=".ChangeIdActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AlrimSetting"
            android:exported="true" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>


    </application>

</manifest>